<div class="orderStatus" ng-init="init()">
  <div class="orderStatusbox">
    <div class="orderstatusheader"><h3>Order Status</h3></div>
    <div id="chat" class="chat">
      <!-- <div class="received">
        <p>order status</p>
        <p>id:{{id}}</p>
        <div class="mess-received">
          <p>name:name</p>
          <p>number:name</p>
          <p>items:name</p>
          <p>amount:name</p>
          <p>status:name</p>
          <p>tableno:name</p>
        </div>
      </div>
      <div class="send">
        <p>jatin</p>
        <p class="mess-send">messege</p>
      </div> -->
    </div>
  </div>
  <div class="typearea">
    <textarea placeholder="Enter messege here ..."></textarea>
  </div>
</div>
